.container-fluid {
    margin-top: 20px;
}

.list-group-item {
    cursor: pointer;
}

    .list-group-item:hover {
        background-color: #f8f9fa;
    }

#listDetailsContent {
    border: 1px solid #ced4da;
    border-radius: 4px;
}
