html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.completed-task {
    color: #888; /* Gray color */
    /* Add any additional styling you want for completed tasks */
}

/* site.css */
.completed-task label {
    text-decoration: line-through;
    color: gray;
}

